.container-page-home {
    
    margin-bottom: 70px;

    .container-select {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .image-logo-up {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 128px;

        img{
            width: clamp( 6rem , 10vw , 7.688rem);
        }
        
    }

    .chart-container{
        margin-top: 20px;
    }

    .graph{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 470px;
  

        .chart-container{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    }

}