.container-page-home {

    margin-bottom: 70px;

    .container-select {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .image-logo-up {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 128px;

        img{
            width: clamp( 6rem , 10vw , 7.688rem);
        }
        
    }

}


